{% extends "profile_base.html" %}
{% load tailwind_filters %}

{% block profile_content %}
    <form action="{% url 'modify_details' %}" class="max-w-sm mx-auto" method="POST">
        {% csrf_token %}
        {{form|crispy}}
        
        <button type="submit"
                class="inline-block rounded border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500">
            Change password
        </button>
    </form>
{% endblock profile_content %}
    